{% include "admin/navbar.html" %}
    <div class="container">
        <div class="row align-items-md-stretch">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">Datos del libro</div>
                    <div class="card-body">
                        <form action="/admin/libros/guardar" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="nombreLibro" class="form-label">Nombre</label>
                                <input type="text" class="form-control" name="nombreLibro" id="nombreLibro" aria-describedby="helpId" placeholder="Escriba el nombre del libro">
                            </div>
                            <div class="mb-3">
                                <label for="libro" class="form-label">Imagen</label>
                                <input type="file" class="form-control" name="libro" id="libro" aria-describedby="helpId" placeholder="Seleccione la imagen">
                            </div>
                            <div class="mb-3">
                                <label for="libroUrl" class="form-label">URL Descarga</label>
                                <input type="text" class="form-control" name="libroUrl" id="libroUrl" aria-describedby="helpId" placeholder="Escribe la URL de descarga">
                            </div>
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <table class="table table-hover table-bordered align-middle">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Archivo</th>
                            <th scope="col">URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for libro in data %}
                        <tr>
                            <th scope="row">{{libro[0]}}</th>
                            <td>{{libro[1]}}</td>
                            <td>{{libro[2]}}</td>
                            <td>{{libro[3]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% include "admin/footer.html" %}